body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}
header, footer {
    display: flex;
    height: 100px;
    background-color: #FDE9D9;
}
main {
    display: flex;
    flex: 1;
    align-items: stretch;
    border: 1px solid black;
}
aside {
    display: flex;
    width: 200px;
    background-color: #B7DEE8;
    border: 1px solid black;
}
div {
    display: flex;
}
.box {
    flex: 1;
    flex-direction: column;
}
.row {
    flex: 1;
    justify-content: space-between;
}

.box1 {
    flex: 1;
    background-color: #DBE5F0;
    border: 1px solid black;
}
.box2 {
    flex: 2;
    background-color: #E9EFDC;
    border: 1px solid black;
}
.box3 {
    flex: 1;
    background-color: #DAEEF3;
    border: 1px solid black;
}
.box4 {
    flex: 1;
    background-color: #F9BE8E;
    border: 1px solid black;

}
.box5 {
    flex: 0.5;
    background-color: #BFBFBF;
    border: 1px solid black;
}
