body {
    margin: auto 0;
}
.container {
    display: grid;
    grid-template-rows: auto;
}
ul.header_menu {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.header_menu li {
    display: inline;
    list-style: none;
    padding: 10px;
}
li:hover {
    color: #66cc66;
}
.main_container {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat';
    text-align: center;
}
.green {
    color: #66cc66;
}
.green:hover {
    color: black;
}
header {
    border: solid 1px;
}
.content {
    display: grid;
    width: 1410px;
    height: 423px;
    border: solid 1px;
    background-color: #D9D9D9;
}
h2 {
    font-size: 30px;
    font-family: 'Montserrat';
    text-align: left;
}
.category {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 9%);
}
.cat {
    border: solid 1px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 176.14px;
    height: 143.66px;
    background-color: #D9D9D9;
}
.name_container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);

}
.name {
    border: solid 1px;
    width: 176.14px;
    height: 55px;
    background-color: #FFFFFF;
    text-align: center;
    font-weight: bold;

}