#calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #5F5F60;
    color: #ffffff;
    font-family: Arial;
    box-shadow: 4px 4px 4px #4f4f4f;
}
.calc-screen {
    height: 80px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 20px;
}
.calc-screen p {
    text-align: right;
    font-size: 3rem;
    margin: 0;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    justify-items: center;
}
.btn {
    width: 70px;
    height: 70px;
    background: #6E6E6F;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;

}
.btn.zero {
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom-left-radius: 20px;
}
.btn.equal {
    border-bottom-right-radius: 20px;
}
.btn:hover {
    filter: brightness(120%);
}
.btn:active {
    filter: brightness(90%);
}
.btn.bg-grey {
    background: #555556;
}
.btn.bg-orange {
    background: #F1A33B;
}
